# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.venv
src/persistance/faces/DB
src/persistance/logs/DB
src/persistance/logs/__pycache__
src/persistance/faces/__pycache__
src/persistance/__pycache__/__init__.cpython-39.pyc
src/persistance/faces/__pycache__/__init__.cpython-39.pyc
test/integration/__pycache__/__init__.cpython-39.pyc
test/integration/__pycache__/testRequest.cpython-39.pyc
test/unit/__pycache__/__init__.cpython-39.pyc
test/unit/__pycache__/testQueries.cpython-39.pyc
test/unit/__pycache__/testRequest.cpython-39.pyc
test/unit/__pycache__/testSeed.cpython-39.pyc
src/persistance/__pycache__/dbAdapter.cpython-39.pyc
src/persistance/__pycache__/queries.cpython-39.pyc
src/persistance/seed/__pycache__/seed.cpython-39.pyc
src/logic/worker/__pycache__/request.cpython-39.pyc
src/logic/worker/__pycache__/request.cpython-39.pyc
src/logic/worker/__pycache__/request.cpython-39.pyc
test/unit/__pycache__/testDBAdapter.cpython-39.pyc
src/persistance/__pycache__/dbQueries.cpython-39.pyc
src/logic/worker/__pycache__/request.cpython-39.pyc
src/logic/worker/__pycache__/request.cpython-39.pyc
src/persistance/__pycache__/dbQueries.cpython-39.pyc
